/* ========== Global styles ============== */
body, html{
  min-width: 100%;
  min-height: 100%;
  background-color: #546e7a;
}
body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* ========== Navbar/Footer CSS ============== */
ul{
  width:100%;
}
li {
  font-size: 13px;
}
@media only screen and (max-width : 990px)  {
  .buscarm{
    margin-left: unset !important;
  }
}
@media only screen and (min-width : 990px) and (max-width : 1300px)  {
  #topbarsearch{
    width: 200px;
  }
  .menu{
    margin-left: 10%;
  }
  #iniciar{
    margin-left: 1%;
  }
  #registrar{
    margin-right: 1%;
  }

}
@media only screen and (min-width : 1300px) and (max-width : 1500px)  {
  .menu{
    margin-left: 15%;
  }
  #iniciar{
    margin-left: 2%;
  }
  #registrar{
    margin-right: 1%;
  }
  #topbarsearch{
    width: 300px;
  }

}
@media only screen and (min-width : 1500px) and (max-width : 1700px)  {
  .menu{
    margin-left: 18%;
  }
  #iniciar{
    margin-left: 2%;
  }
  #registrar{
    margin-right: 1%;
  }
  #topbarsearch{
    width: 300px;
  }
}
@media only screen and (min-width : 1700px) and (max-width : 1900px) {
  .menu{
    margin-left: 20%;
  }
  #iniciar{
    margin-left: 2%;
  }
  #registrar{
    margin-right: 1%;
  }
  #topbarsearch{
    width: 300px
  }
}
@media only screen and (min-width : 1900px) {
  .menu{
    margin-left: 25%;
  }
  #iniciar{
    margin-left: 2%;
  }
  #registrar{
    margin-right: 1%;
  }
  #topbarsearch{
    width: 300px;
  }
}
@media only screen and (max-width: 993px) {
  .este {
      text-align: center;
  }
  .este1{
    display: none;
  }
  .este2{
    display: none;
  }
  .este3{
    display: none;
  }
  .este4{
    display: none;
  }
}
.logon{
  margin-top: 0.2em;
  margin-left: 0.5em;
}
.divider-left{
  border-left: 1px solid #e0e0e0;
}
.divider-right{
  border-right: 1px solid #e0e0e0;
}
nav .divider-left, nav .divider-right{
  font-weight: bold;
}
.logo1{
  margin-right: 20px;
}
.foot{
  font-size:13px;
}
.logof{
  margin-top: 0.2em;
  margin-left: 0.2em;
  width: 65px;
  height: 65px;
  margin-top: 30px;
  opacity: 0.5;
}
.logom{
    margin-left: 40%;
    margin-top: 10%;
    margin-bottom: 10%;
}
/* ========== End of Navbar/Footer CSS ============== */
/* ========== FAQ web CSS ============== */
.faq{
  min-height: 100%;
}
.faq1{
  margin-top:10%;
}
.faq1 li>a:hover, .faq1 .collapsible-header:hover{
  background-color: rgba(0, 0, 0, 0.1);
}
.faq1 .collapsible-body li a{
  padding: 0 23.5px 0 31px;
}
.faq1 li{
  float:none;
  line-height: 48px;
}
.faq1 li>a{
  color: rgba(0, 0, 0, 0.87);
  display: block;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  line-height: 48px;
}
.faq1 .collapsible-body{
  padding: 0;
}
.active>.collapsible-header{
  background-color: rgba(0, 0, 0, 0.1);
}
.faqcontent{
  background-color: rgba(255, 255, 255, 1);
  margin-top:10%;
  height: 40em;
  margin-bottom: 10%;
}
/* ========== end of FAQ web CSS ============== */
/* ========== Perfil web CSS ============== */
.perfil{
  margin-top: 20px;
}
.fotoperfil{
  margin-top: 30px;
  height: 150px;
}
.textoclas{
  color: white;
  font-size: 15px;
  margin-left: 5px;
}
.textotitulo{
  color: #91a6b4;
  font-size: 14px;
  margin-left: 5px;
}
.textoprin{
  font-size: 17px;
}
/* ========== Perfil web CSS ============== */
/* ========== Login web CSS ============== */
.login{
  padding-left: 40%;
}
.cuadrado1{
  margin-top: -30px;
}
.cuadrado2{
      margin-top: -10px;
}
/* ========== end of LOGIN web CSS ============== */
/* ========== lolplayer web CSS ============== */
#buscador{
  width:30%;
  float:left;
}
/* ========== end of lolplayer web CSS ============== */
/* ========== mobilNAV web CSS ============== */
.mobilperfil{
  padding-left:15%;
}
/* ========== end of mobilNAV web CSS ============== */
/* ========== profilenav web CSS ============== */
#profilenav{
  padding-left: 5%;
}
/* ========== end of profilenav web CSS ============== */
/* ========== LOL players CSS ============== */
.lolp{
  width: 80%;
  margin-top: 0;
}
.lolpfilter{
  margin-top: 25px;
}
.lolpshow{
  margin-top: 25px;
  padding: unset !important;
  margin-left: 15px !important;
}
.my-1{
  margin-top: 10px;
  margin-bottom: 30px;
}
.mb-1{
  margin-bottom: 10px;
}
.p-1{
    padding: 15px;
}
.age, .region{
  margin-top: 10px;
  margin-bottom: 10px;
}
.objetive{
  margin-top: 50px;
  margin-bottom: 15px;
}
h4{
  font-weight: 700;
}
.contact{
  margin-top: 30%;
}
.lolpshow .row{
  margin-bottom: unset;
}
.divider{
  margin-bottom: 15px;
}
.roles img{
  margin-top: 5px;
  margin-left: 2px;
}
.grey-text{
  font-weight:600;
}
.loltab{
  width:80%;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* fondo perfil*/
.backgroundd{
  background-color: #546e7a;
}
/* sadsdsadsa*/
.error {
  width: 100%;
  margin: 0px auto;
  padding: 10px;
  border: 1px solid #a94442;
  color: #a94442;
  background: #f2dede;
  border-radius: 5px;
  text-align: left;
}
.success {
  color: #3c763d;
  background: #dff0d8;
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}
