body{
}
ul{
  width:100%;
}
@media only screen and (min-width : 990px) and (max-width : 1300px)  {
  .menu{
    margin-left: 10%;
  }
  #iniciar{
    margin-left: 2%;
  }
  #registrar{
    margin-right: 1%;
  }
  #buscar{
    margin-left: unset;
  }
  #buscador{
    margin-left: 7%;
  }
}
@media only screen and (min-width : 1300px) and (max-width : 1500px)  {
  .menu{
    margin-left: 15%;
  }
  #iniciar{
    margin-left: 2%;
  }
  #registrar{
    margin-right: 1%;
  }
  #buscar{
    margin-left: unset;
  }
  #buscador{
    margin-left: 20%;
  }
}
@media only screen and (min-width : 1500px) and (max-width : 1700px)  {
  .menu{
    margin-left: 18%;
  }
  #iniciar{
    margin-left: 2%;
  }
  #registrar{
    margin-right: 1%;
  }
  #buscar{
    margin-left: unset;
  }
  #buscador{
    margin-left: 25%;
  }
}
@media only screen and (min-width : 1700px) and (max-width : 1900px) {
  .menu{
    margin-left: 20%;
  }
  #iniciar{
    margin-left: 2%;
  }
  #registrar{
    margin-right: 1%;
  }
  #buscar{
    margin-left: unset;
  }
  #buscador{
    margin-left: 30%;
  }
}
@media only screen and (min-width : 1900px) {
  .menu{
    margin-left: 25%;
  }
  #iniciar{
    margin-left: 2%;
  }
  #registrar{
    margin-right: 1%;
  }
  #buscar{
    margin-left: unset;
  }
  #buscador{
    margin-left: 30%;
  }
}

.logo{
  margin-top: 0.2em;
  margin-left: 0.2em;
}
.divider-left{
  border-left: 1px solid #e0e0e0;
}
.divider-right{
  border-right: 1px solid #e0e0e0;
}
nav .divider-left, nav .divider-right{
  font-weight: bold;
}
